<div class="card shadow">
    <div class="card-body">
        <h2 class="card-title text-center text-primary">¿Aún no tienes una cuenta?</h2>
        <div class="text-primary"><hr></div>
        <p class="card-text">Créate una cuenta ahora y empieza a disfrutar de todas las ventajas que te ofrece <span class="text-primary"><b>Universo Animal</b></span>.</p>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary shadow" routerLink='./crear-cuenta'>CREAR CUENTA</button>
        </div>
    </div>
</div>