<div class="card shadow">
    <div class="card-body">
        <h2 class="card-title text-center text-primary">Iniciar sesión</h2>
        <div class="text-primary"><hr></div>
        <p class="card-text">Inicia sesión para comprar productos en nuestra tienda online.</p>
        <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control shadow-sm" name="email" id="email"  placeholder="daniel@example.com" [(ngModel)]="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <div class="input-group">
                    <input [type]="fieldPasswordType ? 'text' : 'password'" class="form-control shadow-sm" name="password" id="password" placeholder="Contraseña" [(ngModel)]="password" required>
                    <div class="input-group-append shadow-sm">
                        <span class="input-group-text">
                        <i [ngClass]="{
                            'bi bi-eye-fill': !fieldPasswordType,
                            'bi bi-eye-slash-fill': fieldPasswordType
                            }"
                        (click)="togglefieldPasswordType()" id="show_eye"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mb-3 text-end text-muted">
                <a routerlink="#" class="link-info">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" (click)="onSubmit()" class="btn btn-primary shadow">INICIAR SESIÓN</button>
            </div>
        </form>
    </div>
</div>